body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #312e2b;
}

h1 {
    text-align: center;
    color: white;
    font-family: monospace;
}

.display-cordenates {
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 10.8rem;
    position: absolute;
    z-index: 1000;
    opacity: 0.5;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-board {
    width: 45rem;
    min-width: 15rem;

    aspect-ratio: 1;

    display: grid;
    margin: 1rem;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border-radius: 5px;
    overflow: hidden;
}

.sw span.number-coordinates {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    color: #769656;

    user-select: none;   
}

.sb span.number-coordinates {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    top: 0.4rem;
    left: 0.4rem;
    color: #eeeed2;

    user-select: none;    
}

/* square white sw / square black sb */
.sw {
    background-color: #eeeed2;
}

.sb {
    background-color: #769656;
}


#play-game {
    color: black;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#play-game:hover {
    background-color: darkolivegreen;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#count-wrong {
    max-width: 200px;
    letter-spacing: 0.5rem;
    line-height: 1rem;
}
